@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

nav {
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: #cca353;
}

.Nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.Nav-items ul li {
  display: inline-block;
  /* position: relative; */

  padding: 10px 20px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.Nav-items a {
  text-decoration: none;
  color: #707070;
}

li a.active {
  border-bottom: 3px solid #c69c5e;
  color: #c69c5e;
  font-weight: bold;
}

.Logo {
  /* float: left; */
  width: 130px;
  height: 130px;
  /* border-radius: 50%; */
  /* position: relative; */
  z-index: 1;
  margin-top: 60px;
}

.button {
  display: flex;
  float: right;
  margin-right: 10px;
  gap: 20px;
}

.btn1 {
  width: 127px;
  height: 48px;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid #cca353;
  font-weight: bold;
  color: #c69c5e;
  cursor: pointer;
}

.btn2 {
  width: 127px;
  height: 48px;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 18px;
  border: 2px;
  background-color: #cca353;
  /* color: #c69c5e; */
  cursor: pointer;
  color: white;
}

.Banner {
  min-height: 100vh;
  background: url("/src/Images/Mask\ group.png") no-repeat center center;
  background-size: cover;
  /* margin-top: -40px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-block {
  color: white;
}

.Form-Inner {
  width: 400px;
  height: 450px;
  background-color: #120e0e76;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BlocksForm-area {
  margin: 20px 0;
}

input[type="text"],
select {
  width: 300px;
  height: 45px;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;

  background-color: #17111190;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 7px;

  color: white;
}

legend {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  /* text-decoration: underline;
  text-decoration-color: #c59639;
  text-underline-offset: 10px; */
}
legend::after {
  content: "";
  position: absolute;
  bottom: -10px;
  border: 2px solid #cca353;
  left: 45px;
  width: 70%;
}

.button-sumbit {
  width: 310px;
  height: 45px;

  padding: 12px 10px;
  align-items: center;
  border: 1px solid #cca353;
  background-color: #cca353;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px auto;
  font-size: 1rem;
  color: white;
}
.button-Banner {
  width: 200px;

  padding: 12px 10px;
  align-items: center;
  border: 1px solid #cca353;
  background-color: #cca353;
  border-radius: 10px;
  cursor: pointer;
  margin: 35px auto;
  font-size: 1rem;
  color: white;
}

.innerbutton {
  display: flex;
  justify-content: space-around;
}

.HeadingText-bottom {
  display: inline-block;
  position: relative;
  /* text-decoration: underline;
  text-decoration-color: #c59639;
  text-underline-offset: 10px; */
}

.HeadingText-bottom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 60%;
  border: 2px solid #cca353;
}

.HeadingText-Office {
  display: inline-block;
  position: relative;
}

.HeadingText-Office::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -10px;
  width: 70%;
  border: 2px solid #cca353;
}
.HeadingText-Mapp {
  display: inline-block;
  position: relative;
}
.HeadingText-Mapp::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 25px;
  width: 70%;
  border: 2px solid white;
}

/* 
.button-AboutUs {
  width: 200px;
  padding: 12px 10px;
  align-items: center;
  border: 1px solid white;
  background-color: #f2b438;
  border-radius: 15px;
  cursor: pointer;
  margin: 50px auto;
  font-size: 1rem;
  color: white;
} */

label {
  display: flex;
  color: #c69c5e;
}
.Table-Block {
  height: 450px;
  background-color: #fff5e0;
}

.MidPage-Block {
  height: 500px;
}

.col-6 img {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
/* 
.container {
  width: 570px;
  margin: 10px;
} */

.container p {
  width: 570px;
  padding: 30px 0;
}

/* .text-area {
  width: 570px;
  height: 420px;
  margin: 50px;
  border: 1px solid white;
} */
.text-area p {
  width: 570px;
  padding: 40px 0;
}

.Office-textarea {
  /* min-height: 80vh; */
  padding: 50px;

  background-color: #fff5e0;
  background: #fff5e0 url("/src/Images/Group\ 9.png") no-repeat center center;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.Office-textarea h1 {
  text-align: center;
}

.office-paragraph {
  width: 70%;
  height: 120px;
  margin: 30px auto;
  font-size: 16px;
  text-align: center;

  background: #fff5e031 url("/src/Images/Group\ 12.png") no-repeat center center;
}

.office-paragraph p {
  margin: 20px;
}

.List-area ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.custom-list li {
  position: relative;
  padding-left: 30px;
}
.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  background: url("/src/Images/Rectangle\ 21.png") no-repeat center center;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.List-area li a {
  text-decoration: none;
  color: #342f26;
  font-weight: bold;
}

.Map-Image {
  width: 100%;
  height: 450px;
  background: url("/src/Images/Screenshot\ 2022-12-08\ at\ 1.10\ 1.png")
    no-repeat;
  background-size: cover;
}

.Box-area {
  width: 500px;
  height: 372px;
  border: 1px solid white;
  background-color: #000000aa;
  border-radius: 20px;
  position: absolute;
  margin: 40px 40px;
}

.textbox-area {
  margin: 20px 40px;
  color: white;
}
.textbox-area p {
  font-size: 14px;
  margin: 15px 0;
}

.Heading1 {
  padding: 40px 0;
}

.Footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;

  background-color: #342f26;
}

.socialMedia-icon {
  display: flex;
  margin: 20px;
  gap: 20px;
}
.socialMedia-icon a {
  width: 40px;
  height: 40px;
  color: #333;
  background-color: #cca353;
  font-size: 30px;
  border-radius: 5px;
  padding: 0 5px;
}

.Box1 p {
  font-size: 15px;
  margin: 10px 20px;
}
.Box1 {
  width: 500px;
  height: 350px;

  color: white;
}

.Box2 {
  width: 400px;
  height: 300px;

  color: white;
}

.Box3 {
  width: 400px;
  height: 300px;

  color: white;
}

.Email-block {
  position: relative;
  margin-bottom: 10px;
}

.email-input {
  width: 90%;
  padding: 15px;
  margin: 15px 0;
  padding-right: 40px;
  border: 2px solid #cca353;
  border-radius: 10px;
  background-color: #221f19;
}
.email-button {
  position: absolute;
  right: 50px;
  top: 16px;
  padding: 9px;
  border: none;
  background-color: #221f19;
  border-radius: 9px;
  cursor: pointer;
  font-size: 20px;
  color: #cca353;
}

.fa-icon {
  width: 35px;
  height: 35px;
  color: #333;
  background-color: #cca353;
  font-size: 30px;
  border-radius: 5px;
  padding: 0 5px;
  margin-right: 8px;
}
.Emaillist-area li {
  padding: 10px;
  list-style: none;
}

.Emaillist-area li a {
  text-decoration: none;
  color: white;
}

.Footerbox-1 {
  width: 158px;
  height: 158px;
}

.Footerbox-2 {
  padding: 10px;
  font-size: 15px;
}
.Footerbox-2 ul {
  list-style: none;
  padding: 20px 0;
}

.Footerbox-2 li a {
  text-decoration: none;
  color: white;
}

.borderbottom-area {
  border-bottom: 1px solid red;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

[class*="col-"] {
  padding: 15px;
}

.col-1 {
  grid-column: span 1;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
.col-6 {
  grid-column: span 6;
}
.col-7 {
  grid-column: span 7;
}
.col-8 {
  grid-column: span 8;
}
.col-9 {
  grid-column: span 9;
}
.col-10 {
  grid-column: span 10;
}
.col-11 {
  grid-column: span 11;
}
.col-12 {
  grid-column: span 12;
}
